[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
requests-html = "*"
html2text = "*"
llama-index = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.10"
